.i am{
    color: white;
}
.about .about-inner{
    padding-left: 50px;
}
.img-fluid{
border-radius: 50%;
}
/* .btn btn-color{
    border-box: darkgreen;
    border-radius: 50%;
} */
/* .about-tag{
    background: darkgreen;
} */