
<section class="about" id="about">
    <div class="container">
        <div class="row section-separator">
            <div class="col-sm-12 col-md-6">
                <div class="about-img shadow-2  ">
                    <img src="./../assets/images/about.png " alt="" class=img-fluid>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="about-inner">
                    <h2 class= "aboutme">About Me</h2>
                    <p class=" ">
                        A Software Engineer working on web and mobile applications, living In Bangalore. A goal-oriented and proactive Person, always keen to learn new things and adaptive to all scenarios, work well under pressure. can efficiently work In a team as well as alone.Also,I
                        am good at</p>
                    <div class="about-tag  ">
                        <ul>
                            <li><span>HTML</span></li>
                            <li><span>CSS</span></li>
                            <li><span>Bootstrap 3+ Version</span></li>
                            <li><span>Javascript</span></li>
                            <li><span>Ionic 2+ Version</span></li>
                            <li><span>Amazon Web Services</span></li>
                            <li><span>Firebase</span></li>
                            <li><span>MongoDB</span></li>
                            <li><span>ExpressJs</span></li>
                            <li><span>Angular 2+ Version</span></li>
                            <li><span>NodeJs</span></li>
                            <li><span>Angular Material</span></li>
                        </ul>
                    </div>
                    <a href="../../assets/image/SwetaResume.pdf" download class="btn btn-color  ">Downlaod
                        CV <i class="fa fa-download"></i></a>

                </div>

            </div>
        </div>
    </div>

</section> 




<section class="service home-2-img image-bg">
  <div class="home-ovimg img-color-overlay">
      <div class="container">

       




          <div class="row section-separator">
              <div class="col-sm-12 section-title  ">
                  <h2 class="whatido">What I do</h2>
              </div>
              <div class="col-sm-4">
                  <div class="service-item shadow-1 dark-bg  ">
                      <i class="fa fa-bullseye darkgoldenrod-color"></i>
                      <h3>UI Design</h3>
                      <p class="whatIdoAlign">
                          Plan and implement new designs, Optimize existing user interface designs, Test for intuitivity and experience, Develop technical and business requirements and always strive to deliver intuitive and user-centered solutions, Create prototypes for new product
                          ideas,

                      </p>
                  </div>
              </div>
              <div class="col-sm-4">
                  <div class="service-item shadow-1 dark-bg  ">
                      <i class="fa fa-code iron-color"></i>
                      <h3>Web Development</h3>
                      <p class="whatIdoAlign">
                          Develop new user-facing features, Build reusable code and libraries for future use, Ensure the technical feasibility of UI/UX designs, Optimize application for maximum speed and scalability, Assure that all user input is validated before submitting to
                          back-end.

                      </p>
                  </div>
              </div>
              <div class="col-sm-4">
                  <div class="service-item shadow-1 dark-bg  ">
                      <i class="fa fa-object-ungroup sky-color"></i>
                      <h3>App Development</h3>
                      <p class="whatIdoAlign">
                          Understand client requirements, Design creative prototypes according to specifications, Perform unit and integration testing before launch, Conduct functional and non-functional testing, Troubleshoot and debug applications, Update and add new features,

                      </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

 <!-- <div class="section" id="about">
    <div class="container">
        <div class="card" data-aos="fade-up" data-aos-offset="10">
           

          <div class="row">
            <div class="col-lg-6 col-md-12">
              <div class="card-body">
                <div class="h4 mt-0 title">About</div>
                <p>Hi I'm <strong>Mehul Kothari</strong>  .Currently I am AEM Developer and also have expertise with Angular8 ,Django,Python, Java and front end . Done few live projects and portfolio work in above.Won the best student award 3 times at college.Also won Devang Mehta IT awards which is one of biggest event of Gujurat in which Best Student of Year of college get awards.Maintained above 9.57 cgpa.</p>
  
  
                <p>
                  Lover of innovation and everything related to generate new knowledge.Face problems with a smile and solve them as soon as possible. Very calculated about the time I spend and work I do.
                </p> 
                  
            
              </div>
            </div>
            <div class="col-lg-6 col-md-12">
              <div class="card-body">
                <div class="h4 mt-0 title">Basic Information</div>
                <div class="row">
                  <div class="col-sm-4">
                    <strong class="text-uppercase">Date of Birth:</strong>
                  </div>
                  <div class="col-sm-8">July 03, 1997</div>
                </div>
                <div class="row mt-3">
                  <div class="col-sm-4">
                    <strong class="text-uppercase">Email:</strong>
                  </div>
                  <div class="col-sm-8">mehulkothari05@gmail.com</div>
                </div>
                <div class="row mt-3">
                  <div class="col-sm-4">
                    <strong class="text-uppercase">Phone:</strong>
                  </div>
                  <div class="col-sm-8">+91 9974990993</div>
                </div>
                <div class="row mt-3">
                  <div class="col-sm-4">
                    <strong class="text-uppercase">Address:</strong>
                  </div>
                  <div class="col-sm-8">D-101,Trishla Appartment,near sakar school,new cg chandkheda,Ahmedabad,382424
                  </div>
                </div>
                <div class="row mt-3">
                  <div class="col-sm-4">
                    <strong class="text-uppercase">Language:</strong>
                  </div>
                  <div class="col-sm-8">Hindi, English</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> 
     <section class="about" id="about">
      <div class="container">
          <div class="heading text-center">
              <h2>About
                  <span>Me</span></h2>
              <p>frontend Developer
                 
              </p>
          </div>
          <div class="row">
              <div class="col-lg-6">
                  <img src="https://i.ibb.co/qpz1hvM/About-us.jpg" alt="about" class="img-fluid" width="100%">
              </div>
              <div class="col-lg-6">
                  <h3>Lorem ipsum dolor sit amet, consectetur </h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                      consequat.</p>
                  <div class="row">
                      <div class="col-md-6">
                          <h4>
                              <i class="far fa-star"></i>Awesome Design</h4>
                      </div>
                      <div class="col-md-6">
                          <h4>
                              <i class="far fa-star"></i>
                              Creative Design</h4>
                      </div>
                      <div class="col-md-6">
                          <h4>
                              <i class="far fa-star"></i>Better Client Service</h4>
                      </div>
                      <div class="col-md-6">
                          <h4>
                              <i class="far fa-star"></i>
                              Digital Marketing & Branding</h4>
                      </div>
                      <div class="col-md-6">
                          <h4>
                              <i class="far fa-star"></i>Creative Design</h4>
                      </div>
                      <div class="col-md-6">
                          <h4>
                              <i class="far fa-star"></i>
                              Speed And Flexibility</h4>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  -->


 <!-- <section class="about" id="about">
  <div class="container">
    <div class="row-section-seprator">

    </div>

  </div>
</section>  -->






















