<div class="section" id="skill">
    <div class="port-skills-img" style="background-image: url('assets/images/skills.jpg');"> 

    
    <div class="container pt-5">


       
        <div class="row justify-content-sm-center pt-5">
       
            <div class="col-sm-9 shadow round pb-3">
                <h1 class="text-center pt-3 text-success">  TECHNICAL SKILLS</h1>
       
       
       
       
        
       
            <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="progress-container progress-primary">
                            <span class="progress-badge">HTML</span>
                            <div class="progress">
                                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 85%;"></div>
                                <span class="progress-value">85%</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="progress-container progress-primary">
                            <span class="progress-badge">CSS</span>
                            <div class="progress">
                                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                                <span class="progress-value">80%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="progress-container progress-primary">
                            <span class="progress-badge">BOOTSTRAP</span>
                            <div class="progress">
                                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"></div>
                                <span class="progress-value">80%</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="progress-container progress-primary">
                            <span class="progress-badge">JAVASCRIPT</span>
                            <div class="progress">
                                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>
                                <span class="progress-value">75%</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="progress-container progress-primary">
                            <span class="progress-badge">ANGULAR</span>
                            <div class="progress">
                                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>
                                <span class="progress-value">75%</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="progress-container progress-primary">
                            <span class="progress-badge">UI/UX,GITHUB,SINGLE-SPA</span>
                            <div class="progress">
                                <div class="progress-bar progress-bar-primary" data-aos="progress-full" data-aos-offset="10" data-aos-duration="2000" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"></div>
                                <span class="progress-value">70%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            </div>
        </div>
        </div>
    </div>






</div>

</div>
