<!-- <div class="container-fluid">
  <div class="row">
    <div class="col-md-3" style="background-color: red;">
    work

    </div>
    <div class="col-md-3"style="backgrond-color:black;">
      papa
    </div>
    <div class="col-md-3"style="background-color:orange;">
      mom
    </div>
    <div class="col-md-3" style="background-color: blue;">

    </div>
  </div>
  <div class="row">
    <div class="col-md-8"style="background-color:pink;">
      culture
    </div>
    <div class="col-md-2" style="background-color: cornflowerblue;">
      wfh
    </div>
    <div class="col-md-2"style="backgrond-color:grey;">
      shriti
    </div>
  </div>
</div> -->
    <!-- <app-header></app-header>  -->
<router-outlet></router-outlet>