
 
 
 <header >
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary" data-spy="affix" data-offset-top="197">
    <div class="container-fluid">
        <a class="navbar-brand" >sweta</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item-active">
              <a class="nav-link" href="#home" >Home</a>
            </li>
            <li class="nav-item-active">
              <a class="nav-link" href="#about">About</a>
            </li>
            <li class="nav-item-active">
                <a class="nav-link" href="#skills">Skills</a>
              </li>
            <li class="nav-item-active">
                <a class="nav-link" href="#education">Education</a>
              </li>
            <li class="nav-item-active">
              <a class="nav-link" href="#experience">Experience</a>
            </li>
            <!-- <li class="nav-item-active">
              <a class="nav-link" href="#skills">Skills</a>
            </li> -->
            <li class="nav-item-active">
              <a class="nav-link" href="#contact">Contact</a>
            </li> 
            
  
        
          </ul>
         
        </div>
      </div>
    </nav>
 </header>  


<!-- <header class="black-bg header fixed-nav nav-scroll xs-mobile-nav   headerScroll nav-strict nav-down" id="header">
    <div class="img-color-overlay">
        <div class="container">
            <div class="row">
                <div class="headerPosition">
                    <h3 class="logoName">Sweta</h3>
                </div>
                <nav class="navbar navbar-expand-lg navbar-light nav nav-btn" data-spy="affix" data-offset-top="197">

                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>

                    </button>


                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#home" (click)="ToggleNavBar">Home</a>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="#about" (click)="ToggleNavBar">About</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#skills" (click)="ToggleNavBar">Skills</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#education" (click)="ToggleNavBar">Education</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#experience" (click)="ToggleNavBar">Experience</a>
                            </li>


                            <li class="nav-item">
                                <a class="nav-link" href="#contact" (click)="ToggleNavBar">Contact</a>
                            </li>
                        </ul>

                    </div>
                </nav>

            </div>
        </div>
    </div>
</header>
  -->













<section class="home home-1-img image-bg" id="home">

    <div class="hh-home-details" style="background-image: url('assets/images/portfolio.jpg');">

        <div class="container">
            <div class="row">
                <div class="col-sm-6 offset-sm-3">
                    <div class="hero-img  ">
                        <div class="img-border">
                            <img class="img-circle" src="../../assets/images/profilepic.jpg" alt="Profile Pic"
                                width="304" height="300">
                        </div>
                        <div class="h2 title">Sweta Rani</div>
                        <p class="category text-white">FRONTEND DEVELOPER</p>
                        <a class="btn btn-danger smooth-scroll " style="margin-right: 2%;" href="#contact">Hire Me</a>

                        <a class="btn btn-primary smooth scroll"  style="margin-right: 2%;" href="../../assets/images/SwetaResume.pdf"
                            >Downlaod
                            CV </a>

                    </div>

                </div>

            </div>
        </div>
    </div>
</section>






<section class="about" id="about">
    <div class="container">
         <div class="row section-separator"> 
            <div class="col-sm-12 col-md-6">
                <div class="about-img shadow-2  ">
                    <img src="./../assets/images/about.jpeg " alt="" class=img-fluid>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="about-inner">
                    <h2 class="aboutme">About Me</h2>
                    <p class=" description">
                        A Software Engineer working on web and mobile applications, living In Bangalore. A goal-oriented
                        and proactive Person, always keen to learn new things and adaptive to all scenarios, work well
                        under pressure. can efficiently work In a team as well as alone.Also,I
                        am good at</p>
                    <div class="about-tag  ">

                        <button type="button" class="btn btn-outline-warning" style="margin: 2%;" >HTML</button>
                        <button type="button" class="btn btn-outline-warning" style="margin:2%;">CSS</button>
                        <button type="button" class="btn btn-outline-warning" style="margin:2%;">Angular</button>

                        <button type="button" class="btn btn-outline-warning"style="margin:2%;">BOOTSTRAP</button><br>
                        <button type="button" class="btn btn-outline-warning" style="margin:2%;">JAVASCRIPT</button>
                        <button type="button" class="btn btn-outline-warning" style="margin:2% ;">IONIC</button> 
                        <button type="button" class="btn btn-outline-warning" style="margin:2%;">FIREBASE</button><br>
                        <button type="button" class="btn btn-outline-warning"style="margin:2%;">GITHUB</button>
                        <button type="button" class="btn btn-outline-warning" style="margin:2%;">AWS</button> <br>


                           </div>

                    <a href="../../assets/images/SwetaResume.pdf" download class="btn btn-primary  " style="margin-top:4%;">Downlaod
                        CV <i class="fa fa-download"></i></a>

                </div>

            </div>
        </div> 
    </div>

</section>




<section class="service home-2-img image-bg">
    <div class="home-ovimg img-color-overlay">
        <div class="container">

       <div class="row section-separator">
                <div class="col-sm-12 section-title  ">
                    <h2 class="whatido">What I do</h2>
                </div>
                <div class="col-sm-4 ">
                     <div class="card border-primary mb-3" style="max-width: 18rem;">
                        <div class="card-header">UI Design</div>
                        <div class="card-body text-primary">
                            <h5 class="card-title"> <i class="fa fa-bullseye darkgoldenrod-color"></i></h5>
                            <p class="card-text"> Plan and implement new designs, Optimize existing user interface
                                designs, Test for intuitivity and experience, Develop technical and business
                                requirements and always strive to deliver intuitive and user-centered solutions, Create
                                prototypes for new product
                                ideas,</p>
                        </div>
                    </div>
  </div>
                <div class="col-sm-4">
<div class="card border-primary mb-3" style="max-width: 18rem;">
                        <div class="card-header"> Web Development</div>
                        <div class="card-body text-primary">
                            <h3 class="card-title"><i class="fa fa-code iron-color"></i></h3>
                            <p class="card-text"> Develop new user-facing features, Build reusable code and libraries
                                for future use, Ensure the technical feasibility of UI/UX designs, Optimize application
                                for maximum speed and scalability, Assure that all user input is validated before
                                submitting to
                                back-end.</p>
                        </div>
                    </div>
                 </div>
                <div class="col-sm-4">
                <div class="card border-primary mb-3" style="max-width: 18rem;">
                        <div class="card-header">APP DEVELOPEMNT</div>
                        <div class="card-body text-primary">
                            <h5 class="card-title"><i class="fa fa-object-ungroup sky-color"></i></h5>
                             <p class="card-text">Understand client requirements, Design creative prototypes according to
                                specifications, Perform unit and integration testing before launch, Conduct functional
                                and non-functional testing, Troubleshoot and debug applications, Update and add new
                                features,</p>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</section>
<!-- skilss section -->
<div class="section" id="skills">
    <!-- <div class="port-skills-img" style="background-image: url('assets/images/skills.jpg');">  -->
 <div class="container pt-5">
  <div class="row justify-content-sm-center pt-5">
<div class="col-sm-9 shadow round pb-3">
                <h1 class="text-center pt-3 text-success"> TECHNICAL SKILLS</h1>
  <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-6">

                                <!-- <div class="progress">
                                    <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                      <span class="sr-only">40% Complete (success)</span>
                                    </div>
                                  </div> -->
                                 <div class="progress-container progress-primary">
                                    <span class="progress-badge">HTML</span>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-primary" data-aos="progress-full"
                                            data-aos-offset="10" data-aos-duration="2000" role="progressbar"
                                            aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                                            style="width: 85%;"></div>
                                        <span class="progress-value">85%</span>
                                    </div>
                                </div> 
                            </div>
                            <div class="col-md-6">
                                <div class="progress-container progress-primary">
                                    <span class="progress-badge">CSS</span>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-primary" data-aos="progress-full"
                                            data-aos-offset="10" data-aos-duration="2000" role="progressbar"
                                            aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                                            style="width: 80%;"></div>
                                        <span class="progress-value">80%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="progress-container progress-primary">
                                    <span class="progress-badge">BOOTSTRAP</span>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-primary" data-aos="progress-full"
                                            data-aos-offset="10" data-aos-duration="2000" role="progressbar"
                                            aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                                            style="width: 80%;"></div>
                                        <span class="progress-value">80%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="progress-container progress-primary">
                                    <span class="progress-badge">JAVASCRIPT</span>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-primary" data-aos="progress-full"
                                            data-aos-offset="10" data-aos-duration="2000" role="progressbar"
                                            aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                                            style="width: 75%;"></div>
                                        <span class="progress-value">75%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="progress-container progress-primary">
                                    <span class="progress-badge">ANGULAR</span>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-primary" data-aos="progress-full"
                                            data-aos-offset="10" data-aos-duration="2000" role="progressbar"
                                            aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                                            style="width: 75%;"></div>
                                        <span class="progress-value">75%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="progress-container progress-primary">
                                    <span class="progress-badge">UI/UX,GITHUB,SINGLE-SPA</span>
                                    <div class="progress">
                                        <div class="progress-bar progress-bar-primary" data-aos="progress-full"
                                            data-aos-offset="10" data-aos-duration="2000" role="progressbar"
                                            aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                                            style="width: 70%;"></div>
                                        <span class="progress-value">70%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
<!-- education -->

<div class="section" id="education">
    <div class="container cc-education">
        <div class="h4">Education</div>
        <div class="card">
            <div class="row">
                <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-education-header">
                        <p>2014 - 2017</p>
                        <div class="h5">Bachelor's Degree</div>
                    </div>
                </div>
                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                        <div class="h5">Bachelor of Engineering</div>
                        <h4 class="category">Dr B.C Roy of Engineering
                        </h4>
                        <ul>
                            <li> dr bc roy  is makaut Affiliated and <b>ranks 7th</b> in durgapur </li>
                            <li>Completed B.E in Computer Engineering in computer science.</li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="row">
                <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-education-header">
                        <p>2010 - 2013</p>
                        <div class="h5">poytechnic</div>
                    </div>
                </div>
                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                        <div class="h5"> poltechnic</div>
                        <h4 class="category">G.W.P(Governments womens poltechnic,bokaro)
                        </h4>
                        <ul>
                            <li>
                                The college was mainly focus on the bases of science, mathematics, and Chemistry
                            </li>
                            <li>
                                There was also a good base on physics, mathematics and chemistry.
                            </li>
                            <li>
                                Completed my degree with<b> 75%</b>.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="row">
                <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body cc-education-header">
                        <p>2012 - 2013</p>
                        <div class="h5">poltechnic</div>
                    </div>
                </div>
                <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                    <div class="card-body">
                        <div class="h5">Secondary School</div>
                        <h4 class="category">H.S Industrial are
                        </h4>
                        <ul>
                            <li>The Secondary aims at Maths , English , Science, Social Science, Litrature and
                                Languages.
                            </li>

                            <li>
                                Completed my Secondary school with <b>60%</b>.
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- experience  section -->
<div class="section" id="experience">
    <div class="container cc-education">

        <div class="container pt-5 ">

            <div class="row justify-content-sm-right pt-5">
                <div class="col-sm-12 shadow round pb-5">
                    <h1 class="text-center pt-3 text-danger"> WORK EXPERIENCE</h1>
                    <div class="colorlib-narrow-content">


                        <div class="row">
                            <div class="col-md-12">
                                <div class="timeline-centered">
                                    <article class="timeline-entry animate-box" data-animate-effect="fadeInLeft">
                                        <div class="timeline-entry-inner">

                                            <div class="timeline-icon color-2">
                                                <i class="icon-pen2"></i>
                                            </div>

                                            <div class="timeline-label">
                                                <h2>Software Engineer <span>Feb 2021 to Present</span></h2>
                                                <h4> Fresher Technologies</h4>
                                                <p>Working on web app built with Angular</p>
                                                <ul>

                                                    <li>UI UX development</li>
                                                    <li>Web Development.</li>
                                                </ul>

                                            </div>
                                        </div>
                                    </article>

                                    <article class="timeline-entry animate-box" data-animate-effect="fadeInLeft">
                                        <div class="timeline-entry-inner">

                                            <div class="timeline-icon color-1">
                                                <i class="icon-pen2"></i>
                                            </div>

                                            <div class="timeline-label">
                                                <h2>frontend developer <span>June, 2019</span></h2>
                                                <h4> thediff</h4>
                                                <p>Working on Okta Auth with Angular 9 and Angular Material</p>
                                                <ul>
                                                    <li>Software development.</li>
                                                    <li>Application development.</li>
                                                    <li>Web Development.</li>
                                                </ul>

                                            </div>
                                        </div>
                                    </article>


                                    <article class="timeline-entry animate-box" data-animate-effect="fadeInRight">
                                        <div class="timeline-entry-inner">
                                            <div class="timeline-icon color-2">
                                                <i class="icon-pen2"></i>
                                            </div>
                                            <div class="timeline-label">
                                                <h2>Intern <span>Aug, 2018 - march,2018</span></h2>
                                                <h4> Intern at edii</h4>
                                                <p>Completed Internship on web developemnt . Worked as an Intern to
                                                    develop mobile application using android Studio. Technologies and
                                                    Language used:
                                                </p>
                                                <ul>
                                                    <li>Angular</li>
                                                    <li>Firebase</li>
                                                    <li>htm,css</li>
                                                    <li>Javascript</li>
                                                    <li>bootstrap</li>
                                                </ul>

                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- contact section -->
<footer class="footer" id="contact">
    <!-- <footer class id="contact"> -->
    <div class="cc1-contact-details" style="background-image :url('assets/images/contactme.png');">
        <div class="container pt-5">
            <div class="row justify-content-sm-center pt-5">
                <div class="col-md-6 shadow round pb-3">
                    <h3 class="text-center pt-3 text-danger">CONTACT ME</h3>
                    <form [formGroup]="exform">
                        <div class="form-group">
                            <label class="col-form-label">Name:<span class="mandatory"> *</span></label>
                            <input formControlName="name" type="text" class="form-control">
                            <small *ngIf="f.name.invalid && f.name.touched" class="text-danger">Name is Required</small>
                            <div *ngIf="f.name.errors && f.name.errors.minlength">Name should be 3 character.</div>

                        </div>
                   <div class="form-group">
                            <label class="col-form-label">Email:<span class="mandatory"> *</span></label>
                            <input formControlName="email" type="email" class="form-control">
                            <small *ngIf="f.email.invalid && f.email.touched" class="text-danger">Email is
                                Required</small>

                                 </div>
                                 <div class="form-group">
                            <label class="col-form-label">Phone:<span class="mandatory"> *</span></label>
                            <input formControlName="phone" type="text" class="form-control">
                            <small *ngIf="f.phone.invalid && f.phone.touched" class="text-danger">Phone no is
                                Required(minimum length 10,numbers are only allowed)</small>
                        </div>

                          <div class="form-group">
                            <label class="col-form-label">Message:<span class="mandatory"> *</span></label>
                            <textarea formControlName="message" class="form-control"></textarea>
                            <small *ngIf="f.message.invalid && f.message.touched" class="text-danger"> Message is
                                Required(minimum length 10)</small>
                            <div *ngIf="f.meessage.errors && f.message.errors"> message is required.</div>
                           </div>

                        <button (click)="clicksub()" [disabled]="exform.invalid" type="button"
                            class="btn btn-primary" style="margin-top:5%;">Send message</button>

                       </form>
                </div>
             </div>
        </div>
        <div class="col-sm-12 copyright  ">
            <div class="row">
                <div class="col-sm-6">
                    <div class="text-left text-xs-center">
                        <p>All right reserved Sweta Rani @ 2019</p>
                    </div>
                </div>
                 <div class="col-sm-6">
                    <div class="text-right ">
                    <a class="btn btn-social-icon btn-instagram" href="https://www.instagram.com/swthrtsweta/" target="_blank" rel="tooltip" title="Follow me on Instagram" style="color:darkmagenta">
                    
                        <span class="fa fa-instagram"></span>
                      </a>
                      <a class="btn btn-social-icon btn-linkedin"  href="https://www.linkedin.com/in/sweta-rani-54a579163/" target="_blank" rel="tooltip" title="Follow me on Linkedin" style="color:blue">
                    
                        <span class="fa fa-linkedin"></span>
                      </a>

                      <a class="btn btn-social-icon btn-github"  href="https://github.com/Sweta-rani" target="_blank" rel="tooltip" title="Follow me on Github"  style="color:purple" >
                    
                        <span class="fa fa-github"></span>
                      </a>
                      <a class="btn btn-social-icon btn-google-plus"  href="https://github.com/Sweta-rani" target="_blank" rel="tooltip" title="Follow me on Google+"  style="color:blue">

                      <span class="fa fa-google-plus"></span></a>


                         </div>
                    </div> 
            </div>
        </div>

      </div>

</footer>